{% extends 'base.html.twig' %}

{% block title %}Localisation index{% endblock %}

{% block body %}
    <h1>Localisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>CountryCode</th>
                <th>Latitude</th>
                <th>Longtitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for localisation in localisations %}
            <tr>
                <td>{{ localisation.id }}</td>
                <td>{{ localisation.City }}</td>
                <td>{{ localisation.CountryCode }}</td>
                <td>{{ localisation.Latitude }}</td>
                <td>{{ localisation.Longtitude }}</td>
                <td>
                    <a href="{{ path('app_localisation_show', {'id': localisation.id}) }}">show</a>
                    <a href="{{ path('app_localisation_edit', {'id': localisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_localisation_new') }}">Create new</a>
    <a href="{{ path('app_measures_index') }}">Measures</a>
{% endblock %}
